body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-image: url(../resource/images/cap\ bg.jpg);
    background-size: cover;
}

header {
    height: 80px;
    border-bottom: 1px solid black;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}


/* Set a style for the submit button */

.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

#register-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    height: auto;
    background-color: rgba(32, 32, 32, 0.658);
    border-radius: 10px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

p {
    color: white;
}

h2 {
    color: white;
}

a {
    color: rgb(159, 159, 238);
}

#back-home {
    margin: auto;
    text-align: center;
    background-color: rgb(16, 184, 16);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}