body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(233, 233, 233);
}

section {
    background-color: rgb(233, 233, 233);
}

header {
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
}

.container-wrapper {
    margin: auto;
    width: 75%;
    height: 80px;
    display: flex;
}

.container-wrapper h2 {
    width: 100%;
    color: #394352;
    margin-top: 1.6rem;
}

.nav-bar {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.nav-bar div {}

.nav-bar-items {
    margin-top: 1rem;
}

.nav-bar-items p {
    color: #394352;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nav-bar-items p:hover {
    color: black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#header-logo-contianer {
    flex: 1;
    position: relative;
}

.cart-items {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 1.5rem;
    flex: 1;
}

.cart-items i {
    font-size: 2rem;
}

#header-logo {
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    top: 15px;
}

#header-title {
    display: inline;
    position: absolute;
    left: 65px;
}

#cart-items-circle {
    border-radius: 50%;
    background-color: #63748e;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
}


/* THIS IS FOR CHANGE SHOWCASE BACKGROUND */

.homepage-showcase {
    width: 100%;
    height: 600px;
    background-image: url("images/gambartopi.jpg");
    background-size: cover;
    color: white;
    border-bottom: 7px solid rgba(0, 0, 0, 0.322);
}

.homepage-showcase h1 {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 0px;
}

.homepage-showcase p {
    font-size: 1.3rem;
    text-align: center;
}

#login-register {
    line-height: 30px;
    margin-right: 1rem;
}

#login-register:hover {
    cursor: pointer;
}

#new-arrived {
    text-align: center;
    font-size: 2rem;
}

#showcase-new-arrived {
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#showcase-container {
    width: 40%;
    margin: auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
}


/* THIS PART IS FOR THE... ERM.. POP OUT LOGIN? OK! */


/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: absolute;
    right: 8%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    transition: all 0.4s ease;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/* END OF THE POP OUT! */

#form-popup-register {
    text-align: center;
}

#product-header {
    text-align: center;
    font-size: 1.7rem;
}


/* THIS IS FOR THE PRODUCT CONTAINER */

.product-grid-container {
    display: grid;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr) !important;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#product-container {
    margin: auto;
    width: 85%;
}

.grid-item-picture {
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: white;
}

#product-grid-picture {
    width: 250px;
    height: 250px;
}

#grid-product-name {
    position: relative;
    top: 10px;
}

#grid-product-price {
    position: relative;
    top: 13px;
    font-size: 0.9rem;
}

#product-grid-information {
    width: 250px;
    margin: auto;
    font-size: 1.1rem;
}


/* THIS IS FOR THE PRODUCT BUY INFORMATON */

.product-buy-information {
    display: flex;
    margin: auto;
    width: 73%;
    background-color: white;
    border: 2px solid #394352;
    ;
}

.product-buy-information-left {
    width: 100%;
    border-right: 2px solid #394352;
    ;
    padding: 1rem;
}

.product-buy-information-left img {
    width: 100%;
    height: 100%;
}

.product-buy-information-right {
    padding: 1rem;
    width: 100%;
}

.product-buy-information-right hr {
    color: #394352;
}

#product-buy-information-name {
    color: #394352;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#product-buy-information-price {
    color: #999;
    font-size: 1.1rem;
}

.product-buy-information-right input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
}

.product-buy-information-right {
    overflow: auto;
}

.product-buy-information-right input[type="submit"] {
    background: #4e5c70;
    border: 0;
    color: #fff;
    width: 70%;
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

#product-buy-information-please-login {
    background: #4e5c70;
    border: 0;
    color: #fff;
    width: 70%;
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.product-buy-information-description {
    width: 100%;
    color: #555;
    max-width: 450px;
}

.product-buy-information-description span {}

#form-container-items {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 132, 61);
    text-align: center;
    margin-bottom: 2px;
}

#form-container-items:hover {
    background-color: rgb(235, 122, 57);
    cursor: pointer;
}

.bx-cart:hover {
    cursor: pointer;
}

.mycart-nav-bar {
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: #282730;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 3px;
}

.mycart-nav-bar-item {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mycart-nav-bar-item:hover {
    cursor: pointer;
    border-bottom: 4px solid rgb(255, 136, 0);
    transition: ease 0.2s all;
}

.mycart-nav-bar span {
    color: white;
    position: relative;
    top: 15px;
}

.mycart-container {
    width: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.mycart-container-items {
    display: flex;
    background-color: white;
}

.mycart-container-items-left {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.mycart-container-items-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mycart-product-picture {
    width: 100%;
    height: 100%;
}

.mycart-container-items-right div {
    height: 100%;
    width: 100%;
}

#mycart-item-name {
    text-align: center;
    font-size: 1.3rem;
}

#mycart-item-name span {
    position: relative;
    top: 14px;
    text-decoration: underline;
}

#mycart-item-description {}

#mycart-item-description span {
    color: rgb(58, 58, 58);
}

#mycart-item-amount {}

#mycart-item-amount span {}

#mycart-item-price {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-left: solid black 2px;
}

#mycart-item-price {
    text-align: center;
}

#mycart-item-price span {
    position: relative;
    top: 65px;
}

.mycart-item-lower {
    border-top: 2px solid black;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.mycart-item-lower-1 {
    height: 100%;
    text-align: right;
}

.mycart-item-lower-1 span {
    margin-right: 1.5rem;
    font-size: 1.3rem;
    position: relative;
    top: 14px;
}

.mycart-item-lower-2 {
    height: 100%;
}

#paynow-btn {
    margin-right: 1.5rem;
    position: relative;
    float: right;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background-color: rgb(255, 132, 61);
    border: solid rgb(194, 194, 194) 1px;
    display: inline;
    border-radius: 5px;
}

#paynow-btn:hover {
    cursor: pointer;
    background-color: rgb(231, 119, 54);
    transition: all 0.4s ease;
}

.mycart-paynow-container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
}

#paynow-address {
    width: 100%;
    height: 90px;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mycart-paynow-address-header {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(61, 61, 61);
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mycart-paynow-payment-details {
    width: 60%;
    margin: auto;
}

.mycart-paynow-payment-details2 {
    width: 95%;
    margin: auto;
}

.mycart-paynow-payment-details textarea {
    resize: none;
}

#styling-table2 {
    width: 100%;
}

#styling-table2 th {
    padding: 20px 0;
    border-bottom: 1px solid rgb(107, 107, 107);
    text-align: left;
}

#styling-table2 td {
    border-bottom: 1px solid rgb(107, 107, 107);
}

#checkout-subtotal {
    text-align: right;
    font-size: 1.3rem;
}

#checkout-btn {
    background-color: #4e5c70;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    float: right;
    display: inline;
    border-radius: 5px;
    margin-right: 2rem;
}

#checkout-btn span {
    text-align: center;
}

#checkout-btn:hover {
    cursor: pointer;
    background-color: #3f4b5c;
    transition: all 0.4s ease;
}

.all-course-pagination-btn {
    display: flex;
    width: 100%;
}

.all-course-pagination-btn div {
    margin: auto;
}

#showcase-new-arrived-items {
    width: 200px;
    height: 200px;
}

#showcase-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

footer {
    border-top: 2px solid black;
    width: 100%;
    height: 50px;
    background-color: rgb(61, 61, 61);
    text-align: center;
}

footer span {
    position: relative;
    top: 16px;
    color: white;
}


/* THIS PART IS FOR THE NEW LOGIN AND REGISTER PAGE! */

#register-login-nav {
    display: flex;
    width: 100%;
    margin: auto;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

.register-items {
    width: 100%;
    box-sizing: border-box;
}

.register-items:first-child {
    position: relative;
}

#login-register-title {
    font-weight: 60;
}

#eco-green {
    color: rgb(10, 0, 143);
}

#login-register-section {
    width: 100%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0) !important;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.login-register-items {
    width: 100%;
}

.login-container {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 55%;
    height: 80%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
    padding: 2rem;
}

#login-container-header {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.login-register-input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
    border: 2px solid rgb(189, 189, 189);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

.login-register-input:focus {
    border: rgb(131, 131, 131) 2px solid;
    border-radius: 2px;
}

.login-register-submit {
    width: 100%;
    height: 40px;
    margin-top: 2rem;
}

.login-register-forget-password {
    width: 100%;
}

.login-register-forget-password>a {
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(0, 80, 201);
}

.login-register-forget-password:nth-last-child(1) {
    text-align: right;
}

#new-to-eco {
    color: rgba(0, 0, 0, 0.274);
}

#sign-up {
    text-decoration: none;
    color: rgb(0, 170, 0);
}

#login-register-body {
    background-image: url(../resource/images/cap\ bg.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-register-input input:focus {}

.profile-container {
    margin-top: 3rem;
    width: 60%;
    height: 450px;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.205);
    background-color: rgb(255, 255, 255);
}

.edit-password-container {
    margin-top: 3rem;
    width: 30%;
    height: 450px;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.205);
    background-color: rgb(255, 255, 255);
}

.profile-item-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    padding-right: 4rem;
    border-right: 2px solid black;
}

.profile-item-picture {
    width: 200px;
    height: 250px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.profile-item-right {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
}

.button-active {
    width: 100px;
    height: 35px;
    margin-top: 2rem;
}

#profile-file-input {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
}

#header-logo:hover {
    cursor: pointer;
}

#header-title:hover {
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    color: rgb(167, 167, 167);
    border-top: 4px solid rgba(75, 75, 75, 0.459);
}

#footer-item-1 {
    flex: 2;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

#footer-item-2 {
    flex: 3;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

#footer-item-3 {
    flex: 2;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-item-header {
    text-decoration: underline 2px solid white;
}

.footer-item-list {
    font-size: 0.8rem;
}

.footer-item-list>a {
    text-decoration: none;
    color: rgb(167, 167, 167);
}